name: '[CI/CD] CI Pipeline'
on: # Test pull requests and any push to main.
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions: # Force read permissions
  contents: read
jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: '24.x'
      - name: Cache dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - id: markdownlint
        name: Install mardownlint
        run: npm install -g markdownlint-cli
      - id: npm-ci
        name: Clean install
        run: npm ci
      - name: Linters
        run: |
          npm run lint
          markdownlint *.md **/*.md
      - name: Tests
        # Run tests if linter fails
        if: always() && steps.npm-ci.outcome == 'success'
        run: npm run test-ci
